=begin
#Factor Weave API

#Quantitative factor data, vector similarity search, leak-free forward-return labels and derived market analytics (factor dispersion, regime, risk-cluster tags, 32-D embeddings) for ~12,000 US-listed tickers.  **Auth:** all data endpoints require either a `Bearer <jwt>` (obtain via POST /auth/login) or an `X-API-Key: fw_live_…` header (mint at /me/keys). Tier gating is enforced per endpoint — see the [Tiers docs](https://factorweave.com/#docs).  **Honest framing:** the data is a research substrate, not a return-prediction service. Our own leak-free testing ([research note](https://factorweave.com/research.html)) shows factor similarity does not forecast returns; the supervised similarity method is a return-weighted projection, not an oracle.

The version of the OpenAPI document: 1.0.0
Contact: support@factorweave.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Factorweave
  class DataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CSV export of a ticker's features
    # @param ticker [String] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def csv_features_get(ticker, opts = {})
      data, _status_code, _headers = csv_features_get_with_http_info(ticker, opts)
      data
    end

    # CSV export of a ticker&#39;s features
    # @param ticker [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def csv_features_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataApi.csv_features_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling DataApi.csv_features_get"
      end
      # resource path
      local_var_path = '/csv/features'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ticker'] = ticker

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DataApi.csv_features_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataApi#csv_features_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Factor row for a ticker
    # No date params → latest single row. ?date= → that exact date. ?start_date= & ?end_date= → range. History covers the last 252 trading days.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date 
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [Array<FeatureRow>]
    def features_ticker_get(ticker, opts = {})
      data, _status_code, _headers = features_ticker_get_with_http_info(ticker, opts)
      data
    end

    # Factor row for a ticker
    # No date params → latest single row. ?date&#x3D; → that exact date. ?start_date&#x3D; &amp; ?end_date&#x3D; → range. History covers the last 252 trading days.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :date 
    # @option opts [Date] :start_date 
    # @option opts [Date] :end_date 
    # @return [Array<(Array<FeatureRow>, Integer, Hash)>] Array<FeatureRow> data, response status code and response headers
    def features_ticker_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataApi.features_ticker_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling DataApi.features_ticker_get"
      end
      # resource path
      local_var_path = '/features/{ticker}'.sub('{' + 'ticker' + '}', CGI.escape(ticker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FeatureRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DataApi.features_ticker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataApi#features_ticker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Top-N tickers by a factor
    # @param factor [String] mom, meanrev, comp_score, rsi, z_52w, beta_spy, gap_pct, …
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :n  (default to 25)
    # @option opts [String] :direction  (default to 'desc')
    # @return [nil]
    def top_get(factor, opts = {})
      top_get_with_http_info(factor, opts)
      nil
    end

    # Top-N tickers by a factor
    # @param factor [String] mom, meanrev, comp_score, rsi, z_52w, beta_spy, gap_pct, …
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :n  (default to 25)
    # @option opts [String] :direction  (default to 'desc')
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def top_get_with_http_info(factor, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DataApi.top_get ...'
      end
      # verify the required parameter 'factor' is set
      if @api_client.config.client_side_validation && factor.nil?
        fail ArgumentError, "Missing the required parameter 'factor' when calling DataApi.top_get"
      end
      if @api_client.config.client_side_validation && !opts[:'n'].nil? && opts[:'n'] > 100
        fail ArgumentError, 'invalid value for "opts[:"n"]" when calling DataApi.top_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'n'].nil? && opts[:'n'] < 1
        fail ArgumentError, 'invalid value for "opts[:"n"]" when calling DataApi.top_get, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/top'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'factor'] = factor
      query_params[:'n'] = opts[:'n'] if !opts[:'n'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DataApi.top_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DataApi#top_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
