=begin
#Factor Weave API

#Quantitative factor data, vector similarity search, leak-free forward-return labels and derived market analytics (factor dispersion, regime, risk-cluster tags, 32-D embeddings) for ~12,000 US-listed tickers.  **Auth:** all data endpoints require either a `Bearer <jwt>` (obtain via POST /auth/login) or an `X-API-Key: fw_live_…` header (mint at /me/keys). Tier gating is enforced per endpoint — see the [Tiers docs](https://factorweave.com/#docs).  **Honest framing:** the data is a research substrate, not a return-prediction service. Our own leak-free testing ([research note](https://factorweave.com/research.html)) shows factor similarity does not forecast returns; the supervised similarity method is a return-weighted projection, not an oracle.

The version of the OpenAPI document: 1.0.0
Contact: support@factorweave.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Factorweave
  class DerivedAnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Raw 32-D regime-aware embedding vector (QUANT)
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [EmbeddingTickerGet200Response]
    def embedding_ticker_get(ticker, opts = {})
      data, _status_code, _headers = embedding_ticker_get_with_http_info(ticker, opts)
      data
    end

    # Raw 32-D regime-aware embedding vector (QUANT)
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmbeddingTickerGet200Response, Integer, Hash)>] EmbeddingTickerGet200Response data, response status code and response headers
    def embedding_ticker_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DerivedAnalyticsApi.embedding_ticker_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling DerivedAnalyticsApi.embedding_ticker_get"
      end
      # resource path
      local_var_path = '/embedding/{ticker}'.sub('{' + 'ticker' + '}', CGI.escape(ticker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmbeddingTickerGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DerivedAnalyticsApi.embedding_ticker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DerivedAnalyticsApi#embedding_ticker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Whole-universe factor dispersion, breadth, regime
    # FREE = today's reading only; HOBBY+ = full 252-day history. ?latest=1 trims to today for any tier.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :latest 
    # @return [nil]
    def market_context_get(opts = {})
      market_context_get_with_http_info(opts)
      nil
    end

    # Whole-universe factor dispersion, breadth, regime
    # FREE &#x3D; today&#39;s reading only; HOBBY+ &#x3D; full 252-day history. ?latest&#x3D;1 trims to today for any tier.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :latest 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def market_context_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DerivedAnalyticsApi.market_context_get ...'
      end
      allowable_values = [0, 1]
      if @api_client.config.client_side_validation && opts[:'latest'] && !allowable_values.include?(opts[:'latest'])
        fail ArgumentError, "invalid value for \"latest\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/market-context'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'latest'] = opts[:'latest'] if !opts[:'latest'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DerivedAnalyticsApi.market_context_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DerivedAnalyticsApi#market_context_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-ticker digest — ranks, regime, risk cluster, unusualness (HOBBY+)
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def report_card_ticker_get(ticker, opts = {})
      report_card_ticker_get_with_http_info(ticker, opts)
      nil
    end

    # Per-ticker digest — ranks, regime, risk cluster, unusualness (HOBBY+)
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def report_card_ticker_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DerivedAnalyticsApi.report_card_ticker_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling DerivedAnalyticsApi.report_card_ticker_get"
      end
      # resource path
      local_var_path = '/report-card/{ticker}'.sub('{' + 'ticker' + '}', CGI.escape(ticker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DerivedAnalyticsApi.report_card_ticker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DerivedAnalyticsApi#report_card_ticker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Volatility regime a ticker's factor analogues landed in (PRO+)
    # calm / normal / stressed — derived from neighbours' realized forward vol. A risk-coherence signal, not a vol forecast.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def risk_cluster_ticker_get(ticker, opts = {})
      risk_cluster_ticker_get_with_http_info(ticker, opts)
      nil
    end

    # Volatility regime a ticker&#39;s factor analogues landed in (PRO+)
    # calm / normal / stressed — derived from neighbours&#39; realized forward vol. A risk-coherence signal, not a vol forecast.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def risk_cluster_ticker_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DerivedAnalyticsApi.risk_cluster_ticker_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling DerivedAnalyticsApi.risk_cluster_ticker_get"
      end
      # resource path
      local_var_path = '/risk-cluster/{ticker}'.sub('{' + 'ticker' + '}', CGI.escape(ticker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DerivedAnalyticsApi.risk_cluster_ticker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DerivedAnalyticsApi#risk_cluster_ticker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
