=begin
#Factor Weave API

#Quantitative factor data, vector similarity search, leak-free forward-return labels and derived market analytics (factor dispersion, regime, risk-cluster tags, 32-D embeddings) for ~12,000 US-listed tickers.  **Auth:** all data endpoints require either a `Bearer <jwt>` (obtain via POST /auth/login) or an `X-API-Key: fw_live_…` header (mint at /me/keys). Tier gating is enforced per endpoint — see the [Tiers docs](https://factorweave.com/#docs).  **Honest framing:** the data is a research substrate, not a return-prediction service. Our own leak-free testing ([research note](https://factorweave.com/research.html)) shows factor similarity does not forecast returns; the supervised similarity method is a return-weighted projection, not an oracle.

The version of the OpenAPI document: 1.0.0
Contact: support@factorweave.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Factorweave
  class LabelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Leak-free forward-return labels (PRO+)
    # fwd_ret_1d/5d/20d + binary targets (target_1d_up1, target_5d_up3, target_20d_up10). Last 252 trading days.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def labels_ticker_get(ticker, opts = {})
      labels_ticker_get_with_http_info(ticker, opts)
      nil
    end

    # Leak-free forward-return labels (PRO+)
    # fwd_ret_1d/5d/20d + binary targets (target_1d_up1, target_5d_up3, target_20d_up10). Last 252 trading days.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def labels_ticker_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LabelsApi.labels_ticker_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling LabelsApi.labels_ticker_get"
      end
      # resource path
      local_var_path = '/labels/{ticker}'.sub('{' + 'ticker' + '}', CGI.escape(ticker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LabelsApi.labels_ticker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LabelsApi#labels_ticker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
