=begin
#Factor Weave API

#Quantitative factor data, vector similarity search, leak-free forward-return labels and derived market analytics (factor dispersion, regime, risk-cluster tags, 32-D embeddings) for ~12,000 US-listed tickers.  **Auth:** all data endpoints require either a `Bearer <jwt>` (obtain via POST /auth/login) or an `X-API-Key: fw_live_…` header (mint at /me/keys). Tier gating is enforced per endpoint — see the [Tiers docs](https://factorweave.com/#docs).  **Honest framing:** the data is a research substrate, not a return-prediction service. Our own leak-free testing ([research note](https://factorweave.com/research.html)) shows factor similarity does not forecast returns; the supervised similarity method is a return-weighted projection, not an oracle.

The version of the OpenAPI document: 1.0.0
Contact: support@factorweave.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Factorweave
  class VectorSearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Top-K nearest setups by similarity
    # Tier-gated: cosine (FREE+), dtw (HOBBY+), label_aware (PRO+), supervised (QUANT). Each neighbor row carries its factor row + forward-return labels pre-joined.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :method  (default to 'cosine')
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :min_lookback_days Require neighbor_date ≥ min_lookback_days before query_date. Use 30 to filter same-day co-moving ETFs. (default to 0)
    # @return [VectorSearchSimilarTickerGet200Response]
    def vector_search_similar_ticker_get(ticker, opts = {})
      data, _status_code, _headers = vector_search_similar_ticker_get_with_http_info(ticker, opts)
      data
    end

    # Top-K nearest setups by similarity
    # Tier-gated: cosine (FREE+), dtw (HOBBY+), label_aware (PRO+), supervised (QUANT). Each neighbor row carries its factor row + forward-return labels pre-joined.
    # @param ticker [String] Uppercase US ticker symbol.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :method  (default to 'cosine')
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :min_lookback_days Require neighbor_date ≥ min_lookback_days before query_date. Use 30 to filter same-day co-moving ETFs. (default to 0)
    # @return [Array<(VectorSearchSimilarTickerGet200Response, Integer, Hash)>] VectorSearchSimilarTickerGet200Response data, response status code and response headers
    def vector_search_similar_ticker_get_with_http_info(ticker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VectorSearchApi.vector_search_similar_ticker_get ...'
      end
      # verify the required parameter 'ticker' is set
      if @api_client.config.client_side_validation && ticker.nil?
        fail ArgumentError, "Missing the required parameter 'ticker' when calling VectorSearchApi.vector_search_similar_ticker_get"
      end
      allowable_values = ["cosine", "dtw", "label_aware", "supervised"]
      if @api_client.config.client_side_validation && opts[:'method'] && !allowable_values.include?(opts[:'method'])
        fail ArgumentError, "invalid value for \"method\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling VectorSearchApi.vector_search_similar_ticker_get, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling VectorSearchApi.vector_search_similar_ticker_get, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_lookback_days'].nil? && opts[:'min_lookback_days'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_lookback_days"]" when calling VectorSearchApi.vector_search_similar_ticker_get, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/vector-search/similar/{ticker}'.sub('{' + 'ticker' + '}', CGI.escape(ticker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'min_lookback_days'] = opts[:'min_lookback_days'] if !opts[:'min_lookback_days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VectorSearchSimilarTickerGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VectorSearchApi.vector_search_similar_ticker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VectorSearchApi#vector_search_similar_ticker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
