/*
Factor Weave API

Quantitative factor data, vector similarity search, leak-free forward-return labels and derived market analytics (factor dispersion, regime, risk-cluster tags, 32-D embeddings) for ~12,000 US-listed tickers.  **Auth:** all data endpoints require either a `Bearer <jwt>` (obtain via POST /auth/login) or an `X-API-Key: fw_live_…` header (mint at /me/keys). Tier gating is enforced per endpoint — see the [Tiers docs](https://factorweave.com/#docs).  **Honest framing:** the data is a research substrate, not a return-prediction service. Our own leak-free testing ([research note](https://factorweave.com/research.html)) shows factor similarity does not forecast returns; the supervised similarity method is a return-weighted projection, not an oracle.

API version: 1.0.0
Contact: support@factorweave.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factorweave

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VectorSearchAPIService VectorSearchAPI service
type VectorSearchAPIService service

type ApiVectorSearchSimilarTickerGetRequest struct {
	ctx context.Context
	ApiService *VectorSearchAPIService
	ticker string
	method *string
	limit *int32
	minLookbackDays *int32
}

func (r ApiVectorSearchSimilarTickerGetRequest) Method(method string) ApiVectorSearchSimilarTickerGetRequest {
	r.method = &method
	return r
}

func (r ApiVectorSearchSimilarTickerGetRequest) Limit(limit int32) ApiVectorSearchSimilarTickerGetRequest {
	r.limit = &limit
	return r
}

// Require neighbor_date ≥ min_lookback_days before query_date. Use 30 to filter same-day co-moving ETFs.
func (r ApiVectorSearchSimilarTickerGetRequest) MinLookbackDays(minLookbackDays int32) ApiVectorSearchSimilarTickerGetRequest {
	r.minLookbackDays = &minLookbackDays
	return r
}

func (r ApiVectorSearchSimilarTickerGetRequest) Execute() (*VectorSearchSimilarTickerGet200Response, *http.Response, error) {
	return r.ApiService.VectorSearchSimilarTickerGetExecute(r)
}

/*
VectorSearchSimilarTickerGet Top-K nearest setups by similarity

Tier-gated: cosine (FREE+), dtw (HOBBY+), label_aware (PRO+), supervised (QUANT). Each neighbor row carries its factor row + forward-return labels pre-joined.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ticker Uppercase US ticker symbol.
 @return ApiVectorSearchSimilarTickerGetRequest
*/
func (a *VectorSearchAPIService) VectorSearchSimilarTickerGet(ctx context.Context, ticker string) ApiVectorSearchSimilarTickerGetRequest {
	return ApiVectorSearchSimilarTickerGetRequest{
		ApiService: a,
		ctx: ctx,
		ticker: ticker,
	}
}

// Execute executes the request
//  @return VectorSearchSimilarTickerGet200Response
func (a *VectorSearchAPIService) VectorSearchSimilarTickerGetExecute(r ApiVectorSearchSimilarTickerGetRequest) (*VectorSearchSimilarTickerGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VectorSearchSimilarTickerGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VectorSearchAPIService.VectorSearchSimilarTickerGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vector-search/similar/{ticker}"
	localVarPath = strings.Replace(localVarPath, "{"+"ticker"+"}", url.PathEscape(parameterValueToString(r.ticker, "ticker")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "method", r.method, "form", "")
	} else {
		var defaultValue string = "cosine"
		r.method = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		r.limit = &defaultValue
	}
	if r.minLookbackDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_lookback_days", r.minLookbackDays, "form", "")
	} else {
		var defaultValue int32 = 0
		r.minLookbackDays = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v TierGateError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
